body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(92,84,112,1) 0%, rgba(0,0,0,1) 35%, rgba(255,0,0,1) 100%);
        
    
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e43b3b81;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

h2 {
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #fffafa;
    color: rgb(255, 255, 255);
}

thead th, td {
    background-color: #e43b3b81;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*pruebe color boton*/
.button-container {
    text-align: center;
    margin-top: 20px; /* Ajusta según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    display: block;
    margin-bottom: 10px; /* Ajusta según sea necesario para agregar espacio entre los botones */
    padding: 10px;
    background-color: #e03d3d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button-container a:hover {
    background-color: #ed6868;

    

}

.button-container a{
    width: 90px;
}

/* estado cuando el puntero no esta encima */
.campaña{
    background-color: #e03d3d;
    border: solid 0.2rem#f97171 ;
    
}
/* estado cuando el puntero si esta encima */
.campaña:hover{
    background-color: #ed5d5d;

}
